/* Custom styles for the jumbotron */
.jumbotron {
    background-color: black; 
    color: #FFF;
    border-radius: 0; 
    padding: 30px; 
    font-style: italic;
}

/* Custom styles for the footer */
footer {
    background-color: #343A40; 
    color: #FFF; 
}

/* Center the footer content */
footer.text-center {
    text-align: center;
}

/* Style the movie card title and description */
.card-title {
    font-size: 1.25rem; 
    margin-bottom: 0.75rem; 
}

.card-text {
    font-size: 0.875rem;
}

/* Style the "Read Full Review" buttons */
.btn-primary {
    background-color:black; 
    border-color: black; 
    transition: background-color 0.3s ease; 
}

.btn-primary:hover {
    background-color: black; 
}
/* Adjust spacing between movie cards */
.card {
    margin-bottom: 20px;
}

/* Add hover effect to movie cards */
.card:hover {
    transform: scale(1.03); 
    transition: transform 0.3s ease; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

